<a href="https://colab.research.google.com/github/thirulic/MITS/blob/main/2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

## **Descriptive Statistics**


---


A large number of methods collectively compute descriptive statistics and other related operations on DataFrame.

Most of these are aggregations like sum(), mean(), but some of them, like sumsum(), produce an object of the same size.

Generally speaking, these methods take an axis argument, just like ndarray.{sum, std, ...}, but the axis can be specified by name or integer

**DataFrame − “index” (axis=0, default), “columns” (axis=1)**

In [ ]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

### **sum()**

Returns the sum of the values for the requested axis. By default, axis is index (axis=0).

In [ ]:
print (df.sum())

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

Each individual column is added individually (Strings are appended).

### **axis=1**
This syntax will give the output as shown below.

In [ ]:
print (df.sum(1))

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

<ipython-input-3-33f9cbb56ff9>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (df.sum(1))

### **mean()**
Returns the average value

In [ ]:
print (df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

<ipython-input-4-6577edf46a8e>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (df.mean())

### **std()**
Returns the Bressel standard deviation of the numerical columns.

In [ ]:
print (df.std())

Age       9.232682
Rating    0.661628
dtype: float64

<ipython-input-5-9d91f8c9ff12>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (df.std())

### **Functions & Description**
Let us now understand the functions under Descriptive Statistics in Python Pandas.

The following table list down the important functions −

Sr.No.	| Function |	Description
:---|:----|:----
1 |	count() |	Number of non-null observations
2 |	sum() |	Sum of values
3 |	mean() |	Mean of Values
4 |	median() |	Median of Values
5 |	mode() |	Mode of values
6 |	std() |	Standard Deviation of the Values
7 |	min() |	Minimum Value
8 |	max() |	Maximum Value
9 |	abs() |	Absolute Value
10 |	prod() |	Product of Values
11 |	cumsum() |	Cumulative Sum
12 |	cumprod() |	Cumulative Product

**Note** − Since DataFrame is a Heterogeneous data structure. Generic operations don’t work with all functions.

Functions like **sum(), cumsum()** work with both numeric and character (or) string data elements without any error. Though **n** practice, character aggregations are never used generally, these functions do not throw any exception.

Functions like a**bs(), cumprod()** throw exception when the DataFrame contains character or string data because such operations cannot be performed.

### **Summarizing Data**
The describe() function computes a summary of statistics pertaining to the DataFrame columns.

In [ ]:
print (df.describe())

df

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

This function gives the **mean**, **std** and **IQR** values.

And, function excludes the character columns and given summary about numeric columns.

 **'include'** is the argument which is used to pass necessary information regarding what columns need to be considered for summarizing.

Takes the list of values; by default, 'number'.

* **object** − Summarizes String columns
* **number** − Summarizes Numeric columns
* all − Summarizes all columns together (Should not pass it as a list value)

Now, use the following statement in the program and check the output −

In [ ]:
print (df.describe(include=['object']))

       Name
count    12
unique   12
top     Tom
freq      1

In [ ]:
print (df. describe(include='all'))

       Name        Age     Rating
count    12  12.000000  12.000000
unique   12        NaN        NaN
top     Tom        NaN        NaN
freq      1        NaN        NaN
mean    NaN  31.833333   3.743333
std     NaN   9.232682   0.661628
min     NaN  23.000000   2.560000
25%     NaN  25.000000   3.230000
50%     NaN  29.500000   3.790000
75%     NaN  35.500000   4.132500
max     NaN  51.000000   4.800000


### **Reindexing**
---
Reindexing changes the row labels and column labels of a DataFrame. To reindex means to conform the data to match a given set of labels along a particular axis.

Multiple operations can be accomplished through indexing like −

* Reorder the existing data to match a new set of labels.

* Insert missing value (NA) markers in label locations where no data for the label existed.

In [ ]:
import pandas as pd
import numpy as np

N=20

df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
})

#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])
print(df)

print (df_reindexed)

            A     x         y       C           D
0  2016-01-01   0.0  0.843759    High   89.699849
1  2016-01-02   1.0  0.468347    High  107.788372
2  2016-01-03   2.0  0.360909     Low  116.950975
3  2016-01-04   3.0  0.312041    High  104.625327
4  2016-01-05   4.0  0.106096    High   96.329502
5  2016-01-06   5.0  0.739368  Medium  109.080330
6  2016-01-07   6.0  0.396572    High   88.553641
7  2016-01-08   7.0  0.302865  Medium   88.802479
8  2016-01-09   8.0  0.051768     Low  105.467648
9  2016-01-10   9.0  0.734740  Medium   78.038182
10 2016-01-11  10.0  0.483532     Low  120.027465
11 2016-01-12  11.0  0.250930     Low  108.561152
12 2016-01-13  12.0  0.357371    High  111.843244
13 2016-01-14  13.0  0.766163  Medium   99.344108
14 2016-01-15  14.0  0.364128  Medium   78.143370
15 2016-01-16  15.0  0.628557     Low   85.480955
16 2016-01-17  16.0  0.477830    High  107.241462
17 2016-01-18  17.0  0.793013    High  114.384702
18 2016-01-19  18.0  0.844157    High   99.444675
19 2016-01-20  19.0  0.797372  Medium   92.904054
           A       C   B
0 2016-01-01    High NaN
2 2016-01-03     Low NaN
5 2016-01-06  Medium NaN

**Reindex to Align with Other Objects**

You may wish to take an object and reindex its axes to be labeled the same as another object. Consider the following example to understand the same.

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col4'])
print("Before Reindexing df1")
print(df1)

df1 = df1.reindex_like(df2)
print("After Reindexing df1")
print (df1)

Before Reindexing df1
       col1      col2      col3
0 -0.354145 -1.193236  0.527299
1 -0.568793  1.610894  1.188137
2  0.124608 -0.109002 -0.464953
3 -0.515936  0.324659  1.447538
4  0.960810 -1.996009  0.136698
5  0.276718  0.873039  0.138314
6  0.750933  0.143609  0.255654
7 -0.682009 -0.464398 -0.779172
8 -1.147371  1.958456 -0.288252
9  0.296785  1.520760  0.166512
After Reindexing df1
       col1      col2  col4
0 -0.354145 -1.193236   NaN
1 -0.568793  1.610894   NaN
2  0.124608 -0.109002   NaN
3 -0.515936  0.324659   NaN
4  0.960810 -1.996009   NaN
5  0.276718  0.873039   NaN
6  0.750933  0.143609   NaN

**Note −** Here, the df1 DataFrame is altered and reindexed like df2. The column names should be matched or else NAN will be added for the entire column label.

**Filling while ReIndexing**

**reindex()** takes an optional parameter method which is a filling method with values as follows −

* pad/ffill − Fill values forward

* bfill/backfill − Fill values backward

* nearest − Fill from the nearest index values

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
print (df2.reindex_like(df1,method='ffill'))

       col1      col2      col3
0 -0.566298  0.740844  0.089665
1 -0.308256  0.212300  1.648667
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:
       col1      col2      col3
0 -0.566298  0.740844  0.089665
1 -0.308256  0.212300  1.648667
2 -0.308256  0.212300  1.648667
3 -0.308256  0.212300  1.648667
4 -0.308256  0.212300  1.648667
5 -0.308256  0.212300  1.648667

**Note** − The last four rows are padded.

**Limits on Filling while Reindexing**

The limit argument provides additional control over filling while reindexing. Limit specifies the maximum count of consecutive matches.

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill limiting to 1:")
print (df2.reindex_like(df1,method='ffill',limit=1))

       col1      col2      col3
0 -0.406529  0.772392 -0.097523
1  1.125189  0.012883 -0.081317
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0 -0.406529  0.772392 -0.097523
1  1.125189  0.012883 -0.081317
2  1.125189  0.012883 -0.081317
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

**Note** − Observe, only the 7th row is filled by the preceding 6th row. Then, the rows are left as they are.

**Renaming**

The rename() method allows you to relabel an axis based on some mapping (a dict or Series) or an arbitrary function.

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print (df1)

print ("After renaming the rows and columns:")
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
                  index = {0 : 'apple', 1 : 'banana', 2 : 'durian'}))

       col1      col2      col3
0 -0.467933  1.369009 -0.618125
1  0.587232  2.086920 -2.270802
2  0.681921  0.410481 -0.463405
3  0.587320 -0.237360  0.597912
4  1.517072 -1.129307 -1.500894
5 -0.659626 -0.179212 -0.400080
After renaming the rows and columns:
              c1        c2      col3
apple  -0.467933  1.369009 -0.618125
banana  0.587232  2.086920 -2.270802
durian  0.681921  0.410481 -0.463405
3       0.587320 -0.237360  0.597912
4       1.517072 -1.129307 -1.500894
5      -0.659626 -0.179212 -0.400080

The rename() method provides an **inplace** named parameter, which by default is False and copies the underlying data. Pass inplace=True to rename the data in place.

## **Iteration**


---

The behavior of basic iteration over Pandas objects depends on the type.

When iterating over a Series, it is regarded as array-like, and basic iteration produces the values.

Other data structures, like DataFrame and Panel, follow the **dict-like** convention of iterating over the **keys** of the objects.

In short, basic iteration (for i in object) produces −

* Series − values

* DataFrame − column labels

* Panel − item labels

**Iterating a DataFrame**

Iterating a DataFrame gives column names.

In [ ]:
import pandas as pd
import numpy as np

N=20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })
#print(df)

for x in df:
   print (x) # Prints column names

A
x
y
C
D

To iterate over the rows of the DataFrame, we can use the following functions −

* **iteritems()** − to iterate over the (key,value) pairs

* **iterrows()** − iterate over the rows as (index,series) pairs

* **itertuples()** − iterate over the rows as namedtuples

**iteritems()**

Iterates over each column as key, value pair with label as key and column value as a Series object.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(df)
for key,value in df.iteritems():
   print (key,value)

       col1      col2      col3
0  0.005716  0.633329  0.526654
1  0.753071  0.840224 -1.433321
2 -0.136884  2.009403  2.290619
3 -0.513786  0.123284 -0.845278
col1 0    0.005716
1    0.753071
2   -0.136884
3   -0.513786
Name: col1, dtype: float64
col2 0    0.633329
1    0.840224
2    2.009403
3    0.123284
Name: col2, dtype: float64
col3 0    0.526654
1   -1.433321
2    2.290619
3   -0.845278
Name: col3, dtype: float64

Observe, each column is iterated separately as a key-value pair in a Series.

**iterrows()**

iterrows() returns the iterator yielding each index value along with a series containing the data in each row.

In [ ]:
for row_index,row in df.iterrows():
   print (row_index,row)

0 col1    0.005716
col2    0.633329
col3    0.526654
Name: 0, dtype: float64
1 col1    0.753071
col2    0.840224
col3   -1.433321
Name: 1, dtype: float64
2 col1   -0.136884
col2    2.009403
col3    2.290619
Name: 2, dtype: float64
3 col1   -0.513786
col2    0.123284
col3   -0.845278
Name: 3, dtype: float64

**Note** − Because iterrows() iterate over the rows, it doesn't preserve the data type across the row. 0,1,2 are the row indices and col1,col2,col3 are column indices.

**itertuples()**

itertuples() method will return an iterator yielding a named tuple for each row in the DataFrame. The first element of the tuple will be the row’s corresponding index value, while the remaining values are the row values.

In [ ]:
for row in df.itertuples():
    print (row)

Pandas(Index=0, col1=0.0057161744943729316, col2=0.6333287173476583, col3=0.5266542074383391)
Pandas(Index=1, col1=0.7530710931602502, col2=0.8402239525535197, col3=-1.4333213689958144)
Pandas(Index=2, col1=-0.1368840878490012, col2=2.009403119408442, col3=2.2906189505200087)
Pandas(Index=3, col1=-0.513786284644511, col2=0.12328436226028935, col3=-0.8452782974729589)

**Note** − Do not try to modify any object while iterating. Iterating is meant for reading and the iterator returns a copy of the original object (a view), thus the changes will not reflect on the original object.

In [ ]:
for index, row in df.iterrows():
   row['1'] = 10
print (df)

       col1      col2      col3
0  0.005716  0.633329  0.526654
1  0.753071  0.840224 -1.433321
2 -0.136884  2.009403  2.290619
3 -0.513786  0.123284 -0.845278

## **Sorting**


---

There are two kinds of sorting available in Pandas. They are −

* By label
* By Actual Value

Let us consider an example with an output.

In [ ]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print (unsorted_df)

       col2      col1
1 -0.435306 -0.656975
4  0.197501  0.645863
6 -0.496208 -0.286021
2 -1.555389 -1.562572
3 -0.401880 -0.445248
5 -0.285222 -0.371603
9  0.534793  2.162167
8  0.430972  0.033161
0 -1.453078 -1.553234
7  0.071072  1.267769

In unsorted_df, the labels and the values are unsorted. Let us see how these can be sorted.

**By Label**

Using the sort_index() method, by passing the axis arguments and the order of sorting, DataFrame can be sorted. By default, sorting is done on row labels in ascending order.

In [ ]:
sorted_df=unsorted_df.sort_index()
print (sorted_df)

       col2      col1
0 -1.453078 -1.553234
1 -0.435306 -0.656975
2 -1.555389 -1.562572
3 -0.401880 -0.445248
4  0.197501  0.645863
5 -0.285222 -0.371603
6 -0.496208 -0.286021
7  0.071072  1.267769
8  0.430972  0.033161
9  0.534793  2.162167

**Order of Sorting**

By passing the Boolean value to ascending parameter, the order of the sorting can be controlled. Let us consider the following example to understand the same.

In [ ]:
sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col2      col1
9  0.534793  2.162167
8  0.430972  0.033161
7  0.071072  1.267769
6 -0.496208 -0.286021
5 -0.285222 -0.371603
4  0.197501  0.645863
3 -0.401880 -0.445248
2 -1.555389 -1.562572
1 -0.435306 -0.656975
0 -1.453078 -1.553234

**Sort the Columns**

By passing the axis argument with a value 0 or 1, the sorting can be done on the column labels. By default, axis=0, sort by row.

In [ ]:
sorted_df=unsorted_df.sort_index(axis=1)

print (sorted_df)

       col1      col2
1 -0.656975 -0.435306
4  0.645863  0.197501
6 -0.286021 -0.496208
2 -1.562572 -1.555389
3 -0.445248 -0.401880
5 -0.371603 -0.285222
9  2.162167  0.534793
8  0.033161  0.430972
0 -1.553234 -1.453078
7  1.267769  0.071072

**By Value**

Like index sorting, **sort_values()** is the method for sorting by values.

It accepts a '**by**' argument which will use the column name of the DataFrame with which the values are to be sorted.

In [ ]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

Observe, **col1** values are sorted and the respective **col2** value and row index will alter along with col1. Thus, they look unsorted.

'**by**' argument takes a list of column values.

In [ ]:
sorted_df = unsorted_df.sort_values(by=['col1','col2'])

print (sorted_df)

   col1  col2
2     1     2
1     1     3
3     1     4
0     2     1

**Sorting Algorithm**

sort_values() provides a provision to choose the algorithm from mergesort, heapsort and quicksort.

Mergesort is the only stable algorithm.

In [ ]:
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1' ,kind='mergesort')

print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

### **Working with Text Data**

---

Pandas provides a set of string functions which make it easy to operate on string data.

Most importantly, these functions ignore (or exclude) missing/NaN values.

Almost, all of these methods work with Python string functions (refer: https://docs.python.org/3/library/stdtypes.html#string-methods).

So, convert the Series Object to String Object and then perform the operation.

Sr.No	| Function |  Description
:------|:------|:------
1		| lower()	| Converts strings in the Series/Index to lower case.
2	| upper()| Converts strings in the Series/Index to upper case.
3	| len()| Computes String length().
4	| strip()| Helps strip whitespace(including newline) from each string in the Series/index from both the sides.
5	| split(' ')| Splits each string with the given pattern.
6	| cat(sep=' ')| Concatenates the series/index elements with given separator.
7	| get_dummies()| Returns the DataFrame with One-Hot Encoded values.
8	| contains(pattern)| Returns a Boolean value True for each element if the substring contains in the element, else False.
9	| replace(a,b)| Replaces the value a with the value b.
10	| repeat(value)| Repeats each element with specified number of times.
11	| count(pattern)| Returns count of appearance of pattern in each element.
12	| startswith(pattern)| Returns true if the element in the Series/Index starts with the pattern.
13	| endswith(pattern)| Returns true if the element in the Series/Index ends with the pattern.
14	| find(pattern)| Returns the first position of the first occurrence of the pattern.
15	| findall(pattern)| Returns a list of all occurrence of the pattern.
16	| swapcase| Swaps the case lower/upper.
17	| islower()| Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean
18	| isupper()| Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.
19	| isnumeric()| Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.

Let us now create a Series and see how all the above functions work.

In [ ]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print (s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

**lower()**

In [ ]:
print (s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

**upper()**

In [ ]:
print (s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

**len()**

In [ ]:
print (s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

#**Exercises**

1. **Write a Python program to add, subtract, multiple and divide two Pandas Series.**

Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

2. **Write a Pandas program to sort a given Series.**

*Sample Output:*

Original Data Series:
0 100

1 200

2 python

3 300.12

4 400

Output Data Series:

0 100

1 200

3 300.12

4 400

2 python

3. **Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.**

4.  **Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.**

5. **Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.**

*Sample Python dictionary data and list labels:*

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

6. **Write a Pandas program to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.**

7. **Write a Pandas program to check whether only numeric values present in a given column of a DataFrame.**